.chat-input-container {
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.input-container {
  position: relative;
}

.chat-input-text {
  padding: 12px;
  color: white;
  background-color: #40414f;
  border: none;
  width: 75%;
  border-radius: 5px;
  margin: 12px;
  outline: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.send-icon {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
}
